@{
    ViewData["Title"] = "Participants";
    var model = Model as List<MedicalClient.Participant>;
}

<div class="text-center">
    <h1 class="display-4">Participants</h1>
    <table style="width:100%; border:1px solid black;">
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Gender</td>
            <td>BirthDate</td>
            <td>Login</td>
        </tr>
        @foreach (var user in model)
        {
            <tr>
                <td><a href="/Participant/ViewDataPoints/@user.Id">@user.Name</a></td>
                <td>@user.Surname</td>
                <td>@user.Gender</td>
                <td>@user.BirthDate</td>
                <td>@user.Login</td>
            </tr>
        }
    </table>
    
    
</div>
