@{
    ViewData["Title"] = "Участники";
    var model = Model; //as Tuple<List<MedicalClient.Participant>, List<List<int>>, List<string>>;
}
<head><link rel="stylesheet" href="~/css/site.css"></head>

<div class="text-center">
    <h1 class="display-4">Участники</h1>
    <table style="width:100%; border:1px solid black;">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Номер телефона</th>
        </tr>
        @foreach (var user in model.Data)
        {
            <tr>
                <td><a href="/Participant/ViewDataPoints/@user.Id">@user.Name</a></td>
                <td>@user.Surname</td>
                <td>@user.Gender</td>
                <td>@user.BirthDate.ToString("dd MMMM yyyy hh:mm:ss tt")</td>
                <td>@user.Login</td>
            </tr>
        }
    </table>
    <a href="/Participant/DownloadAll">Скачать отправки по всем участникам</a>
    <h2 hidden="@(model.Hidden)" style="margin-top:50px">Анализ</h2>
    <table border="1" hidden="@(model.Hidden)">
        <tr>
            <th></th>
            <th>Температура</th>
            <th>Пульс</th>
            <th>Диастолическое давление</th>
            <th>Систолическое давление</th>
            <th>Самочувствие</th>
        </tr>
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                <th>@(model.Headings[i])</th>
                @for (int j = 0; j < 5; j++)
                {
                    <td>@(Math.Round(model.Table[i][j], 2))</td>
                }
            </tr>
        }
    </table>

</div>
