@{
    ViewData["Title"] = "DataPoints";
    var model = Model;// as Tuple<List<MedicalClient.DataPoint>, string>;
}

<div class="text-center">
    <h1 class="display-4">Data Points</h1>
    <table style="width:100%; border:1px solid black;">
        <tr>
            <td>Date</td>
            <td>Heartbeat</td>
            <td>Temperature</td>
            <td>Distal Pressure</td>
            <td>Sistal Pressure</td>
            <td>Cough</td>
            <td>Headache</td>
            <td>Dizzines</td>
            <td>Nausea</td>
            <td>Rheum</td>
            <td>Weakness</td>
            <td>Self Feeling</td>
        </tr>
        @foreach (var point in model.Item1)
        {
            <tr>
                <td>@point.Time.ToString()</td>
                <td>@point.HeartBeat</td>
                <td>@point.Temperature</td>
                <td>@point.DistalPressure</td>
                <td>@point.SistalPressure</td>
                <td>@point.Cough</td>
                <td>@point.Headache</td>
                <td>@point.Dizziness</td>
                <td>@point.Nausea</td>
                <td>@point.Rheum</td>
                <td>@point.Weakness</td>
                <td>@point.SelfFeeling</td>
            </tr>
        }
    </table>
    <a href="/Participant/DownloadById/@(model.Item2)">Download CSV</a>
    <h2>Analysis</h2>
    <table border= "1">
        <tr>
            <td></td>
            <td>Temperature</td>
            <td>Heart Beat</td>
            <td>Distal Pressure</td>
            <td>Sistal Pressure</td>
            <td>Self Feeling</td>
        </tr>
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                <td>@(model.Item4[i])</td>
                @for (int j = 0; j < 5; j++)
                {
                    <td>@(model.Item3[i][j])</td>
                }
            </tr>
        }
    </table>
